    <aside>
      "awesome sidebar is awesome"
    </aside>
    <div class="post-entries">
      <article>
	<aside>
	  <span class="day">19</span>
	  <br>
	  <span class="month">Feb.</span></aside>
	<header>
	  <h1>Titulo del Post</h1>
	  <p>Tras tres días de competencia,Watson se impuso sobre los dos ex-campeones del concurso televisivo estadounidense Jeopardy, en un encuentro histórico entre humanos y computadoras.</p>
	</header>
	<div class="post-bottom">
	  <div class="read-more-button orange-button">Leer más..</div>
	  <div class="tag-soup">
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">programacion</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">talleres</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">eventos</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">videojuegos</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">as3</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">flashdevelop</div>
	      <div class="tag-right"></div>
	    </div>
	  </div>
	</div>
	<div class="clear"></div>
      </article>
      <article>
	<aside>
	  <span class="day">19</span>
	  <br>
	  <span class="month">Feb.</span></aside>
	<header>
	  <h1>Titulo del Post</h1>
	  <p>Tras tres días de competencia,Watson se impuso sobre los dos ex-campeones del concurso televisivo estadounidense Jeopardy, en un encuentro histórico entre humanos y computadoras.</p>
	</header>
	<div class="post-bottom">
	  <div class="read-more-button dark-button">Leer más..</div>
	  <div class="tag-soup">
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">programacion</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">talleres</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">eventos</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">videojuegos</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">as3</div>
	      <div class="tag-right"></div>
	    </div>
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle">flashdevelop</div>
	      <div class="tag-right"></div>
	    </div>
	  </div>
	</div>
	<div class="clear"></div>
      </article>

    </div>
    <div class="clear"></div>
      
