    {{#events}}
    <article class="main-article">
        <h1>{{title}}<span class="event-days-left">Faltan {{ETA}} dias</span></h1>
        {{{content}}}
        <div class="read-more-button orange-button">
            <a href="{{permalink}}">Leer más..</a>
        </div>
	<div class="clear"></div>
    </article>
    {{/events}}
    <div class="main-page-read-more">
        <div class="goto-events-button orange-button">
            <a href="{{events-url}}">Ver más eventos</a>
        </div>
        <div class="goto-blog-button dark-button">
            <a href="{{blog-url}}">Ir al Blog</a>
        </div>
    </div>
