<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="{{charset}}">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="coltsin">
  <meta name="description" content="Coltsin es una comunidad orientada al desarrollo tecnologico en el estado de Sinaloa">
  <title>{{blog-name}}</title>
  <link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="all" href="{{template-url}}/style.css">
  <link rel="alternate" type="application/rss+xml" title="Suscribirse al Feed RSS de {{blog-name}}" href="{{rss-feed}}">
  <link rel="alternate" type="application/atom+xml" title="Suscribirse al Feed Atom de {{blog-name}}" href="{{atom-feed}}">
  <link rel="pingback" href="{{pingback-url}}">
  {{{wp-header}}}
</head>
<body>
    <a href="http://github.com/albertein/coltsintheme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>
  <div class="container">
    <header>
        <nav class="top-menu">
            <div class="top-menu-container">
                <ul>
                    <li class="top-menu-actual">Inicio</li>
                    <li>A cerca de</li>
                    <li>Eventos</li>
                    <li>Contacto</li>
                    <li>Blog</li>
                    <li class="top-menu-search">
                        Buscar
                        <input type="search" id="site-search-field">
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-background">
            <p>
                <span class="coltsin-name">Coltsin</span>, 
                Estimulando la Creatividad<br/>tecnologica en Sinaloa.
            <p>
        </div>
    </header>
    <article>
        <h1>BarCamp 3 <span class="event-days-left">Faltan 30 dias</span></h1>
        <p>Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.</p> 
        <div class="read-more-button orange-button">
            Leer más..
        </div>
        <div class="article-end-separator">
            <div class="article-end-left"></div>
            <div class="article-end-middle"></div>
            <div class="article-end-right"></div>
        </div>
    </article>
    <div class="main-page-read-more">
        <div class="goto-events-button orange-button">
            Ver más eventos
        </div>
        <div class="goto-blog-button dark-button">
            Ir al Blog
        </div>
    </div>
  </div>
  <div class="contact-inline">
      <div class="contact-inline-top">
      </div>
      <div class="contact-inline-content">
          <h1>Contacto</h1>
          <p><input type="text" value="Nombre"></p>
          <p><input type="email" value="Correo Electronico"></p>
          <p><input type="text" value="Asunto"></p>
          <p><textarea>Mensage</textarea></p>
          <div class="contact-send-button orange-button">
              Enviar
          </div>
          <div class="clear"></div>
      </div>
  </div>
