<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="{{charset}}">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="coltsin">
  <meta name="description" content="Coltsin es una comunidad orientada al desarrollo tecnologico en el estado de Sinaloa">
  <title>{{blog-name}}</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{template-url}}/style.css">
  <link rel="alternate" type="application/rss+xml" title="Suscribirse al Feed RSS de {{blog-name}}" href="{{rss-feed}}">
  <link rel="alternate" type="application/atom+xml" title="Suscribirse al Feed Atom de {{blog-name}}" href="{{atom-feed}}">
  <link rel="pingback" href="{{pingback-url}}">
  {{{wp-header}}}
</head>
<body>
  <header>
    <h1>{{blog-name}}</h1>
    <h2>{{blog-description}}</h2>
    <p>Mustache template</p>
  </header> 
