    <aside>
      "awesome sidebar is awesome"
    </aside>
    <div class="post-entries">
      {{#is_archive}}
      <h1>{{page-title}}</h1>
      {{/is_archive}}
      {{#posts}}
      <article>
	<aside>
	  <span class="day">{{day}}</span>
	  <br>
	  <span class="month">{{month}}.</span></aside>
	<header>
	  <h1><a href="{{permalink}}">{{title}}</a></h1>
	  {{{content}}}
	</header>
	<div class="post-bottom">
	  {{^single}}
	  <div class="read-more-button dark-button">
	    <a href="{{permalink}}">Leer más..</a></div>
	  {{/single}}
	  <div class="tag-soup">
	    {{#tags}}
	    <div class="tag">
	      <div class="tag-left"></div>
	      <div class="tag-middle"><a href="{{tag_link}}">{{name}}</a></div>
	      <div class="tag-right"></div>
	    </div>
	    {{/tags}}
	  </div>
	</div>
	<div class="clear"></div>
      </article>
      {{/posts}}
    </div>
    <div class="clear"></div>
      
