    <article class="main-article">
        <h1>BarCamp 3 <span class="event-days-left">Faltan 30 dias</span></h1>
        <p>Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.Descripción del evento Barcamp.</p> 
        <div class="read-more-button orange-button">
            Leer más..
        </div>
	<div class="clear"></div>
    </article>
    <div class="main-page-read-more">
        <div class="goto-events-button orange-button">
            Ver más eventos
        </div>
        <div class="goto-blog-button dark-button">
            Ir al Blog
        </div>
    </div>
  </div>
